body{
	background-color: #91A7DB;
	
}
#all{
	
	margin: 0px auto;
	margin-top:70px;
	width:400px;
	background-color:white;
	border: 1px solid #344878;
	border-radius:10px;
}


.typ{
	width:100px;
	margin:10px 50px 10px 50px;
	border: 0;
	padding:5px;
}


.typ a:link{
	border-radius:7px;
	font-weight: bold;
	text-decoration: none;
	border:1px solid black;
	margin:5px 0px 5px 0px;
	background-color:#EDF3FF;
	padding:3px;
	
	
}
.typ a:visited{
	border-radius:7px;
	text-decoration: none;
	border:1px solid black;
	margin:5px 0px 5px 0px;
	background-color:#EDF3FF;
	padding:3px;
	color:black;
	
	
}

